/*menu*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1189 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.snip1189 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #c0392b;
  border-top: 3px solid #c0392b;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.snip1189 a:hover,
.snip1189 .current a {
  color: #ffffff;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
/* Demo purposes only */
body {
  background-color: #edc4c4;
  padding: 20px 0;
    
 color: white;
 text-align: center;
    font-family: 'Raleway', Arial, sans-serif;
}

/*billede*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip0077 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: center;
  overflow: hidden;
  margin: 1px 30%;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0077 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
figure.snip0077 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
figure.snip0077 figcaption {
  top: 50%;
  left: 50px;
  right: 50px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure.snip0077 figcaption h2,
figure.snip0077 figcaption p {
  margin: 0;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0 0 40px #ffffff;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0077 figcaption h2 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip0077 figcaption h2 span {
  font-weight: 800;
}
figure.snip0077 figcaption p {
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0.65;
}
figure.snip0077:before,
figure.snip0077:after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  content: '';
  opacity: 0;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s,-webkit-transform 0.5s,-moz-transform 0.5s,-o-transform 0.5s,transform 0.5s;
}
figure.snip0077:before {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
figure.snip0077:after {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
figure.snip0077 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip0077.blue {
  background: #0a212f;
}
figure.snip0077.red {
  background: #36100c;
}
figure.snip0077.yellow {
  background: #562e0a;
}
figure.snip0077:hover img,
figure.snip0077.hover img {
  opacity: 0.2;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip0077:hover figcaption h2,
figure.snip0077.hover figcaption h2,
figure.snip0077:hover figcaption p,
figure.snip0077.hover figcaption p {
  color: #ffffff;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0077:hover:before,
figure.snip0077.hover:before,
figure.snip0077:hover:after,
figure.snip0077.hover:after {
  opacity: 0.8;
  -webkit-transform: scale(1);
  transform: scale(1);
}